/* Small Devices */
@media only screen and (max-width: 767px) {
    
    .navbar-default {
        
        background-color: rgba(59, 59 , 59, 0.7) !important;
        border-color: #444;
    }
    .about-iphone img {
        width: 100%;
    }
    .purchase-now .col-md-3 {
        
        text-align: center;
        padding-top: 50px;
    }

    .frame-ig {
        width: inherit;
        height: 400px;
    }

    .bx-viewport{
        height: 400px;
    }
    
    .bx-wrapper{
        height: 410px;
    }
}

/* Small Devices And Tablets */
@media only screen and (max-width: 768px) {
    
    .header-iphone {
        display: none;
    }
    .header-text, .header-btns {
        text-align: center;
    }
}

/* Medius Devices , Desktop */
@media only screen and (min-width: 992px) {
    
    
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
    
    
}
